<div id="<%= dom_id student %>">
  <p>
    <% if student.avatar.attached? %>
      <%= image_tag student.avatar, style: "max-width: 150px;" %>
    <% else %>
      <%= image_tag "DefaultStudent.png", style: "max-width: 150px;" %>
    <% end %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= student.major %>
  </p>

  <p>
    <strong>Minor:</strong>
    <%= student.minor %>
  </p>

  <p>
    <strong>Graduation date:</strong>
    <%= student.graduation_date %>
  </p>

</div>
